<app-navbar-usuario-normal></app-navbar-usuario-normal>
<div class="container">

    <div class="row ">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 mt-5">
            <h3 class="text-center">Agregar un Nuevo Estilista</h3>
            <form #form="ngForm" autocomplete="off">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" placeholder="Nombre" name="nombre" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Estilista encargado</label>
                    <input type="text" name="apellidos" placeholder="Apellido" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Costo</label>
                    <input type="text" name="habilidades" placeholder="Habilidades" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Información servicio </label>
                    <input type="text" name="experiencia" placeholder="Experiencia" class="form-control">
                </div>

                <div>
                    <button type="submit" class="btn btn-primary ml-20">Guardar</button>

                </div>
            </form>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>