<!-- Barra de Navegación Admin -->
<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['/dashboard-admin']" >DASHBOARD ADMINISTRADOR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dashboard Administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" aria-current="page" [routerLink]="['/citas-pendientes']" >Citas</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/estilistas-admin']">Estilistas</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/produdctos-admin']">Productos</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/servicios-admin']">Servicios</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/usuarios-admin']">Usuarios</a>
          </li>
                </ul>
                <form class="d-flex justify-content-center mt-5" role="search">
                    <button class="btn button  btn-danger" type="submit" [routerLink]="['/inicio']">CERRAR SESIÓN</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<!-- <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dashboard Administrador
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/dashboard-admin']">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" [routerLink]="['/citas-pendientes']" class="btn button secondary mb-1">
                    Citas Pendientes
                  </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" [routerLink]="['/estilistas-admin']" class="btn button secondary mb-1">
                    Estilistas
                  </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" [routerLink]="['/productos-admin']" class="btn button secondary mb-1">
                    Servicios
                  </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" [routerLink]="['/usuarios-admin']" class="btn button secondary mb-1">
                    Usuarios
                  </button>
                    </li>


                </ul>
                <li class="nav-item">
                    <button type="button" [routerLink]="['/inicio']" class="btn button secondary mb-1">
              Salir
            </button>
                </li>
            </div>
        </div>
    </div>
</nav>
<!-- FIN NAVBAR ADMINISTRADOR -->

<!-- INCIO CONTENEDOR CITAS PENDIENTES - HISTORIAL DE CITAS -->
<div class="container">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!-- COLUMNA PARA TARJETA DE OPCIÓN DE HISTORIAL DE CITAS -->
               
                <!-- COLUMNA PARA TARJETA DE OPCIÓN DE CITAS PENDIENTES -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://impulsapopular.com/wp-content/uploads/2019/06/4504-Pasos-para-abrir-un-sal%C3%B3n-de-belleza.jpg" alt="">

                        <div class="card-body">
                            <h6 class="lead title-card">Citas Pendientes</h6>
                            <p class="card-text py-2 text_servicios">
                                Descripción de la opción de Citas Pendientes.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group text-center">
                                    <button type="button" [routerLink]="['/citas-pendientes']" class="btn button primario">
                             Citas Pendientes
                          </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNA PARA TARJETA DE OPCIÓN DE VER ESTILISTAS -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://www.queestudiar.org/wp-content/uploads/2017/10/estilista.jpg" alt="">

                        <div class="card-body">
                            <h6 class="lead title-card">Estilistas</h6>
                            <p class="card-text py-2 text_servicios">
                                Descripción de la opción de Estilistas que se encuentran trabajando en la estetica actualmente.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group text-center">
                                    <button type="button" [routerLink]="['/estilistas-admin']" class="btn button primario">
                             Estilistas
                          </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMA PARA TARJETA DE OPCIÓN DE VER PRODUCTOS -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://selecciones.com.mx/wp-content/uploads/2018/01/cosas-que-tu-estilista-no-te-dice.jpg" alt="">

                        <div class="card-body">
                            <h6 class="lead title-card">Servicios</h6>
                            <p class="card-text py-2 text_servicios">
                                Descripción de la opción de Productos - Proximamente.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group text-center">
                                    <button type="button" [routerLink]="['/productos-admin']" class="btn button primario">
                             Proximamente
                          </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNA PARA TARJETA DE OPCIÓN DE VER USUARIOS -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://uploadgerencie.com/imagenes/usuarios-informacion-contable.png" alt="">

                        <div class="card-body">
                            <h6 class="lead title-card">Usuarios</h6>
                            <p class="card-text py-2 text_servicios">
                                Descripción de la opción de Usuarios Registrados en la Estetica.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group text-center">
                                    <button type="button" [routerLink]="['/usuarios-admin']" class="btn button primario">
                             Ver Usuarios
                          </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>