<app-navbar-usuario-normal></app-navbar-usuario-normal>
<!-- NAVEGACIÓN PARA REGRESAR A LA PÁGINA ANTERIOR -->
<div class="container-fluid nav_detalle py-4 ">
    <div class="container justify-content-center">
     <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a [routerLink]="['/estilistas']">Estilistas ></a></li>
         <li class="breadcrumb-item active" aria-current="page">Información de {{estilista.nombre}} </li>
       </ol>
     </nav>
    </div>
 </div>
 
 
 <!-- INICIO DE CONTENEDOR PARA INFORMACION DETALLADA DEL SERVICIO -->
 <div class="container-fluid my-5 w-100 ">
   <div class="row align-items-center">
    
    <div class="col-lg-6 text-end p-4 info-service">
        <p class="lead top-title">{{estilista.correo}}</p>
        <p class="lead top-title">Precio: ${{estilista.telefono}}</p>
        <h2 class="h2 display-5">{{estilista.nombre}} {{estilista.apellido}}</h2>
        <p class="card-text"> {{estilista.especialidad}}  </p>
        <button type="button"  [routerLink]="['/formulario-iniciar-sesion']" class="btn button secondary" >Agendar Cita</button>
    </div>
    <div class="col-lg-6 img-service">
     <img src="{{estilista.foto}}" alt="" class=" ">
 </div>
   </div>
 </div>
<!-- <div class="container">
    <div class="row text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div style="font-weight: bolder; font-size: 25px;"><br> Informacion del Estilista</div>
            <br><br>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="jumbotron">
                <div class="row ">
                    <div class="col-lg-3">
                        <img src="{{estilista.foto}}" alt="" style="height: 280px; width: 200px; ">
                    </div>
                    <div class="col-lg-9">

                        <hr>
                        <p style="color: rgb(0, 185, 0) ; font-weight: bolder;">{{estilista.nombre}} {{estilista.apellido}}</p>
                        <h3>Especialidad del estilista</h3>
                        <p>{{estilista.especialidad}}</p>
                        <p>Edad: {{estilista.edad}}</p>
                        <p>Direccion: {{estilista.direccion}}</p>
                        <p>Telefono: {{estilista.telefono}}</p>
                        <p>Correo: {{estilista.correo}}</p>



                        <a st class="btn btn-warning " [routerLink]="['/formulario-iniciar-sesion']" role="button">Agendar Cita</a>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div> -->