<app-navbar-usuario-normal></app-navbar-usuario-normal>

<div class="container-fluid header_servicios pt-5">
    <div class="container-fluid my-5  ">
        <div class=" align-items-center text-center p-lg-5 mx-auto">
            <h4 class="text_header">CONOCE TODOS NUESTROS SERVICIOS A</h4>
                <h1 class="  titulo_header">SERVICIOS GG</h1>
        </div>
     </div>
</div>
<!-- INICIO DE CONTENEDOR PARA CATALOGO DE SERVICIOS -->
<!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-10 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">CONOCE TODOS NUESTROS SERVICIOS</h1>
        <p class="lead fw-normal"> Mercedes Salón de Belleza te brinda un servicio altamente calificado con un espíritu jovial e innovador que nos caracteriza. Somos un referente de la moda en tendencias del sector de peluquería y estética donde lucirás un cabello recuperado y
            vigoroso trabajado a base de técnicas vanguardistas y tratamientos exclusivos. Por ello, te traemos también los diseños para tus uñas 2019 más elegantes que están en tendencia esta temporada. Dale un toque especial a tu manicure con finas
            líneas y puntos y elige el modelo que más te guste para que lo uses a diario o para una ocasión especia. ¡¡Te van a encantar!!


        </p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>

  </div> -->
<!-- FIN DE CONTENEDOR PARA CATÁLOGO DE SERVICIOS -->

<!-- INICIO CONTENEDOR PARA LA PRESENTACIÓN DEL CATALOGO DE SERVICIOS -->
<div class="container py-5">
    <div class="row pt-lg-4">
        <div class="col mx-5">
            <p class="lead top-title">Servicios</p>
            <h2 class="display-5 ">NUESTROS SERVICIOS</h2>
            <p class="text-end">
                <!-- Link Ver Más Servicios -->
               
            </p>
        </div>
    </div>
   </div>
   <div class="container p-4">
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col " *ngFor="let servicio of servicios">
              <div class="card ">
                <img src="https://images.pexels.com/photos/1453005/pexels-photo-1453005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div class="card-body m-2 text-start">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <p class="text_stockProducto">{{servicio.tipo}}</p>
                        </div>
                        <p class="text_stockProducto">Costo: {{servicio.costo}}</p>
                      </div>
                  <p class="text_nameProducto">{{servicio.nombre}}</p>
                  <p class="card-text">{{servicio.descripcion}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group ">
                      <button type="button" class="btn button secondary" (click)="detalles(servicio._id)" >Más Detalles</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
</div>
<!-- <div class="container py-5 ">
    <div class="row text-center">
        <div class="col-lg-4" *ngFor="let servicio of servicios">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2 class="fw-normal">{{servicio.nombre}}</h2>
            <p class="mb-2">Tipo :{{servicio.tipo}}</p>
            <p class="card-text">
                Descripcion: {{servicio.descripcion}}
            </p>
            <p class="text-muted">Precio: ${{servicio.costo}}</p>
            <button type="button" class="btn button secondary" (click)="detalles(servicio._id)">Más Información</button>
        </div>

    </div>
</div> -->
<!-- FIN DE CONTENEDOR PARA LA PRESENTACIÓN DEL CATALOGO DE SERVICIOS -->