<app-navbar-usuario-normal></app-navbar-usuario-normal>

<div class="container-fluid header_estilistas pt-5">
    <div class="container-fluid my-5  ">
        <div class=" align-items-center text-center p-lg-5 mx-auto">
            <h4 class="text_header">CONOCE A NUESTROS ESTILISTAS A</h4>
                <h1 class="  titulo_header">TEAM GG</h1>
        </div>
     </div>
</div>
<!-- CONTENEDOR PARA ENCABEZADO DE ESTILISTAS -->
<div class="container py-5">
    <div class="row pt-lg-4">
        <div class="col mx-5">
            <p class="lead top-title">ESTILISTAS</p>
            <h2 class="display-5 ">TEAM STYLE GG</h2>
            <p class="text-end">
                <!-- Link Ver Más Servicios -->
               
            </p>
        </div>
    </div>
   </div>
<!-- FIN ENCABEZADO DE ESTILISTAS -->

<!-- INICIO CONTENEDOR PARA LA PRESENTACIÓN DEL CATALOGO DE ESTILISTAS -->
<div class="container col-xxl-8 px-4 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2" *ngFor="let estilista of estilistas">
        <div class="col-10 col-sm-8 col-lg-6 ">
            <img src="{{estilista.foto}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">{{estilista.nombre}} {{estilista.apellido}}</h1>
            <!-- AÑADIR TODA LA INFO DEL ESTILISTA QUE VA A VISUALIZAR EL USUARIO NORMAL -->
            <p>{{estilista.especialidad}}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" [routerLink]="['/formulario-iniciar-sesion']" class="btn button primario px-4 me-md-2">Agendar Cita</button>
                <!--           <button type="button" [routerLink]="['/estilista-info']"  class="btn button primario px-4 me-md-2">Más Información</button>
 --><button type="button" (click)="detalles(estilista._id)" class="btn button secondary px-4 me-md-2">Más Información</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN DE CONTENEDOR PARA LA PRESENTACIÓN DEL CATALOGO DE ESTILISTAS -->

<!--  CONTENEDOR DE ESTILISTAS PERO PARA EL USUARIO ADMINISTRADOR 
    <div class="container">
    <a [routerLink]="['/formulario']" class="btn btn-warning" style="border-radius: 10%;">Agregar un nuevo Estilista</a>

    <div class="row text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div style="font-weight: bolder; font-size: 25px;"><br> Lista de Estilistas que Contamos para que uses sus servicios</div>
            <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ea pariatur distinctio rem? Illum consequuntur nihil a corrupti sint animi itaque maiores ad omnis, cum voluptatum aliquid consectetur error alias? <br><br>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4" *ngFor="let estilista of estilistas">

            <div class="card  mt-5">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{estilista.foto}}" class="img-fluid" style="height: 340px; width: 414px; " />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a>{{estilista.nombre}} {{estilista.apellido}}</a></h5>
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"> </i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted">4.5 (413)</p>
                        </li>
                    </ul>
                    <p class="mb-2">$ • American, Restaurant</p>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <hr class="my-4" />
                    <button type="button" class="btn btn-primary" (click)="detalles(estilista._id)">Ver Informacion</button>
                    <button type="button" class="btn  btn-danger" (click)="eliminar(estilista._id)">Eliminar</button>
                    <button type="button" class="btn  btn-warning" (click)="editar(estilista._id)">Editar</button>

                </div>
            </div>

        </div>
    </div>
</div>  -->