.link_admin{
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
    padding:  1rem 0;
}
.link_admin:hover{
    color: white;
}
.item_admin:hover{
    padding-left: 15px;
    background-color: var(--color-orange);
}