<!-- INICIO BARRA NAVEGACIÓN DASHBOARD ADMINISTRADOR -->
<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['/dashboard-admin']" >DASHBOARD ADMINISTRADOR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dashboard Administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" aria-current="page" [routerLink]="['/citas-pendientes']" >Citas</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/estilistas-admin']">Estilistas</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/produdctos-admin']">Productos</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/servicios-admin']">Servicios</a>
          </li>
          <li class="nav-item item_admin">
            <a class="nav-link link_admin" [routerLink]="['/usuarios-admin']">Usuarios</a>
          </li>
          
        </ul>
        <form class="d-flex justify-content-center mt-5" role="search">
            <button class="btn button  btn-danger" type="submit" [routerLink]="['/inicio']">CERRAR SESIÓN</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<!-- FIN DE BARRA DE NAVEGACIÓN DE DASHBOARD ADMINISTRADOR -->
<!-- INICIO CONTENEDOR PARA LAS CITAS PENDIENTES DEL USUARIO -->
<div class="container p-5">
    <section class="text-start container pt-5">
        <div class="row pt-lg-4">
            <div class="col">
                <p class="lead top-title">Citas Pendientes</p>
                <h1 class="display-5 h5 fw-bold">Aqui Encontraras tus Citas Pendientes</h1>
                <p class="text-end">
                </p>
            </div>
        </div>
    </section>
    <div class="row py-3" *ngFor="let cita of citas">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header">
                    <span class="badge mx-2 disponible">Disponible: {{cita.estado}}</span>
                </div>
                <div class="form-group">
                    <label class="text-success">Disponibilidad</label>

                    <button *ngIf="cita.estado" (click)="cita.estado = true ">
                     
                        Activo
                       </button>
                    <button *ngIf="!cita.estado" (click)="cita.estado = false">
                      Inactivo
                  </button>
                </div>
                <div class="card-body">
                    <h6 class="lead title-card">{{cita.servicio}}</h6>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text text_servicios"> Descripción </p>
                        <p class="card-text text_servicios"> {{cita.hora}} </p>
                        <p class="card-text text_servicios"> {{cita.fecha}} </p>
                        <p class="card-text text_servicios"> Detalle 3 </p>
                        <footer class="blockquote-footer">Observaciones - Notas <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="card-footer text-center">
                    <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn button primario" (click)="deletes(cita._id)">  Cancelar Cita </button>
                    <button type="button" class="btn button secondary">  Realizada </button>
                   </div>
                  <!--   <button type="button" class="btn button primario" (click)="deletes(cita._id)">  Cancelar Cita </button>
                    <button type="button" class="btn button primario">  Marcar como pendiente</button> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span class="badge mx-2 pendiente">Pendientes</span>
                </div>
                <div class="form-group">
                    <label class="text-success">Disponibilidad</label>

                    <button *ngIf="cita.estado" (click)="cita.estado = true ">
                     
                        Activo
                       </button>
                    <button *ngIf="!cita.estado" (click)="cita.estado = false">
                      Inactivo
                  </button>
                </div>
                <div class="card-body">
                    <h6 class="lead title-card">{{cita.servicio}}</h6>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text text_servicios"> Descripción </p>
                        <p class="card-text text_servicios"> {{cita.hora}} </p>
                        <p class="card-text text_servicios"> {{cita.fecha}} </p>
                        <p class="card-text text_servicios"> Detalle 3 </p>
                        <footer class="blockquote-footer">Observaciones - Notas <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="card-footer text-center">
                   <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn button primario" (click)="deletes(cita._id)">  Cancelar Cita </button>
                    <button type="button" class="btn button secondary">  Realizada </button>
                   </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span class="badge mx-2 no_disponible">Terminados</span>
                </div>
                <div class="form-group">
                    <label class="text-success">Disponibilidad</label>

                    <button *ngIf="cita.estado" (click)="cita.estado = true ">
                     
                        Activo
                       </button>
                    <button *ngIf="!cita.estado" (click)="cita.estado = false">
                      Inactivo
                  </button>
                </div>
                <div class="card-body">
                    <h6 class="lead title-card">{{cita.servicio}}</h6>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text text_servicios"> Descripción </p>
                        <p class="card-text text_servicios"> {{cita.hora}} </p>
                        <p class="card-text text_servicios"> {{cita.fecha}} </p>
                        <p class="card-text text_servicios"> Detalle 3 </p>
                        <footer class="blockquote-footer">Observaciones - Notas <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="card-footer text-center">
                </div>
            </div>
        </div>
    </div>