<div class="row">
    <!-- Columnas Productos | Para añadir más tarjetas solo aumentar +1 col-lg-4  -->
    <div class="col-lg-4 m-4 px-4">
        <!-- Card para detalles del producto -->
        <div class="card product border-0">
            <img src="https://images.pexels.com/photos/3065209/pexels-photo-3065209.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid rounded-4" />

            <div class="card-body">
                <h6 class="lead title-card">Lorem, ipsum.</h6>
                <!-- ETIQUETAS DE DISPONIBILIDAD DE PRODUCTO -->
                <span class="badge mx-2 disponible">Disponible</span>
                <span class="badge mx-2 pendiente">Pendiente</span>
                <span class="badge mx-2 no_disponible">Agotado</span>
                <p class="card-text py-2 text_servicios">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn button primario">
            <!-- <span class="material-icons">chevron_right</span> -->

            Agendar
          </button>
                    </div>
                    <p class="lead text_precioService align-items-center">$00.00</p>
                </div>
            </div>
        </div>
    </div>
</div>