
<!-- FIN DE BARRA DE NAVEGACIÓN PARA EL USUARIO REGISTRADO -->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 px-4 bg-dark" >
    <a [routerLink]="['/inicio']" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    StyleGG
  </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a [routerLink]="['/inicio']" class="nav-link px-2 button link">Inicio</a>
        </li>
        <li>
            <a [routerLink]="['/catalogo-servicios']" class="nav-link px-2 button link">
        Servicios
      </a>
        </li>
        <li>
            <a [routerLink]="['/catalogo-productos']" class="nav-link px-2 button link">
        Producto
      </a>
        </li>
        <li>
            <a [routerLink]="['/estilistas']" class="nav-link px-2 button link">Estilistas</a>
        </li>
    </ul>

    <div class="col-md-3 text-end">
        <button [routerLink]="['/inicio']" type="button" class="btn button btn-danger">SALIR</button>
        <!-- El botoon de Salir solo se mostrara si hay un usuario con sesión iniciada -->
       <!--  <button [routerLink]="['/formulario-iniciar-sesion']" type="button" class="btn button btn-danger">Salir</button> -->
    </div>
</header>


<!-- INICIO DE HEADER PARA LOS DATOS DEL USUARIO -->
<div class="position-relative overflow-hidden  text-start bg-dark">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h4 class="display-4 fw-normal text-white">Usuario{{usuario.nombre}} {{usuario.apellido}}</h4>
        <p class="lead fw-normal text-white">Correo Electronico{{usuario.correo}}</p>
        <p class="lead fw-normal text-white">DATO 2</p>
        <p class="lead fw-normal text-white">DATO 3</p>
        <a class="btn button primario" href="#">Editar Perfil</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- FIN DE HEADER PARA LOS DATOS DEL USUARIO -->

<!-- INICIO CONTENEDOR PARA LAS CITAS PENDIENTES DEL USUARIO -->
<div class="container p-5">
    <section class="text-start container pt-5">
        <div class="row pt-lg-4">
            <div class="col">
                <p class="lead top-title">Mis Citas Pendientes</p>
                <h1 class="display-5 h5 fw-bold">Aqui Encontraras tus Citas Pendientes</h1>
                <p class="text-end">
                </p>
            </div>
        </div>
    </section>
    <div class="row" *ngFor="let cita of citas">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span class="badge mx-2 disponible">Disponible: {{cita.estado}}</span>
                </div>
                <div class="card-body">
                    <h6 class="lead title-card">{{cita.servicio}}</h6>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text text_servicios"> Descripción </p>
                        <p class="card-text text_servicios"> {{cita.hora}} </p>
                        <p class="card-text text_servicios"> {{cita.fecha}} </p>
                        <p class="card-text text_servicios"> Detalle 3 </p>
                        <footer class="blockquote-footer">Observaciones - Notas <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn button primario" (click)="deletes(cita._id)">  Cancelar Cita </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span class="badge mx-2 pendiente">Pendientes</span>
                </div>
                <div class="card-body">
                    <h6 class="lead title-card">Titulo Servicio/Cita </h6>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text text_servicios"> Descripción </p>
                        <p class="card-text text_servicios"> Detalle 1 </p>
                        <p class="card-text text_servicios"> Detalle 2 </p>
                        <p class="card-text text_servicios"> Detalle 3 </p>
                        <footer class="blockquote-footer">Observaciones - Notas <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn button primario">  Cancelar Cita </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span class="badge mx-2 no_disponible">Agotado</span>
                </div>
                <div class="card-body">
                    <h6 class="lead title-card">Titulo Servicio/Cita </h6>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text text_servicios"> Descripción </p>
                        <p class="card-text text_servicios"> Detalle 1 </p>
                        <p class="card-text text_servicios"> Detalle 2 </p>
                        <p class="card-text text_servicios"> Detalle 3 </p>
                        <footer class="blockquote-footer">Observaciones - Notas <cite title="Source Title">El botoón de Cancelar Cita debe mandar alerta de confirmación de Cacnelación y desaparecer de la lista de pendientes</cite></footer>
                    </blockquote>
                </div>
                <div class="card-footer text-center">

                    <button type="button" class="btn button primario">  Cancelar Cita </button>
                </div>
            </div>
        </div>
    </div>
</div>