
<app-navbar-usuario-normal></app-navbar-usuario-normal>
<!-- CONTENEDOR CARD FORMULARIO AGENDAR CITA / MAPA -->
<div class="container login col-xl-10 col-xxl-8 py-4 my-5 ">
  <div class="row align-items-center g-lg-5 py-5 align-items-center">
    <!-- COLUMNA FORM SELECCIONAR FECHA -->
    <div class="col-lg-7 text-center text-lg-start">
      <h2 class="lead h2">Agenda tu Cita</h2>
      <p class="lead text_servicios">Rellena el formulario correctamente para agendar tu cita.</p>
      <p class="lead title-card">Dirección del negocio</p>
      <p class="lead title-card">Telefono del negocio</p>
      <div class="col-lg-10 mx-2">
        <!-- MAQUETACIÓN DE FORMULARIO PARA SELECCIONAR LA FECHA Y HORA DE LA CITA-->
        <form [formGroup]="citaForm" (ngSubmit)="submitCita()">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <div class="mb-4">
                <label class="form-label" for="">Seleccionar la fecha para tu cita</label>
                <input
                  type="date"
                  formControlName="fecha"
                  class="form-control"
                  placeholder="Seleccionar Fecha"
                />
                <label for="" class="form-text">
                  Esto es un texto de ayuda
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-4">
                <label class="form-label" for="">Selecciona la hora para tu cita</label>
                <input
                  type="time"
                  formControlName="hora"
                  class="form-control"
                  placeholder=""
                />
                <label for="" class="form-text">
                  Esto es un texto de ayuda
                </label>
              </div>
            </div>
          </div>
          <div class="text-end my-4">
            <!-- MODAL DE INGRESAR DATOS PARA AGENDAR LA CITA -->
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="lead title-card" id="exampleModalToggleLabel">INGRESA TUS DATOS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-lg-start">
                    <!-- FORMULARIO SEGUNDO PASO DE INGRESAR DATOS DEL USUARIO PARA AGENDAR CITA -->
                    <form [formGroup]="citaForm" (ngSubmit)="submitCita()">
                      <!-- FILA PARA INGRESAR NOMBRE Y APELLIDO DEL USUARIO -->
                      <div class="row">
                        <div class="col">
                          <div class="mb-4">
                            <label class="form-label" for="">Ingresa tu Nombre(s)</label>
                            <input
                              type="text"
                              formControlName="nombre"
                              class="form-control"
                              placeholder="Nombre(s)"
                            />
                            <label for="" class="form-text">
                              Esto es un texto de ayuda
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="mb-4">
                            <label class="form-label" for="">Ingresa tus apellidos</label>
                            <input
                              type="text"
                              formControlName="apellidos"
                              class="form-control"
                              placeholder="Apellidos"
                            />
                            <label for="" class="form-text">
                              Esto es un texto de ayuda
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- FILA PARA INGRESAR NUMERO TELEFONICO Y SELECCIONAR SERVICIO A SOLICITAR -->
                      <div class="row">
                        <div class="col">
                          <div class="mb-4">
                            <label class="form-label" for="">Ingresa tu número teléfonico</label>
                            <input
                              type="number"
                              formControlName="telefono"
                              class="form-control"
                              placeholder="00 000 000 0000"
                            />
                            <input
                              type="hidden"
                              formControlName="estado"
                              class="form-control"
                            />
                            <label for="" class="form-text">
                              Esto es un texto de ayuda
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="mb-4">
                            <label class="form-label" for="">Selecciona el servicio</label>
                            <select
                                    class="form-control label-select"
                                    formControlName="servicio"
                                    placeholder="Default select example"
                                  >
                                    <option>Selecciona el Servicio</option>
                                    <option *ngFor="let servicio of servicios" value="{{servicio.nombre}}">{{servicio.nombre}}</option>
                                    
                                  </select>
                            <label for="" class="form-text">
                              Esto es un texto de ayuda
                            </label>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- FOOTER DEL MODAL BOTONES DE CANCELAR Y AGENDAR CITA -->
                  <div class="modal-footer">
                    <button type="button" class="button btn secondary" data-bs-dismiss="modal">Regresar</button>
                    <button type="submit" class="button btn primario"  [routerLink]="['/perfil-registrado']">Agendar cita</button>
                    <!-- <a type="button" onclick="submitCita()" class="button btn primario" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Agendar Cita</a> -->
                  </div>
                </div>
              </div>
            </div>
  <!--            SEGUNDO MODAL PARA SELECCIONAR/AGREGAR METODO DE PAGO 
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="lead title-card" id="exampleModalToggleLabel">SELECCIONAR MÉTODO DE PAGO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-lg-start">
                    <div class="row">
                      <div class="col">
                        DATOS DE CITA
                      </div>
                       COLUMNA METODOS DE PAGO - AGENDAR 
                      <div class="col">
                        <div class="container-fluid">
                           CARD METODO DE PAGO INPUT 
                          <div class="row card-metodoPago d-flex align-items-center">
                            <div class="col-sm-1">
                              <input class="form-check-input" type="checkbox" value="" />
                            </div>
                             ---<div class="col">
                              <img src="src/assets/Mastercard-Logo.wine.png" class="img-fluid" alt=""  />
                            </div> 
                            <div class="col">
                              <p class="text">**** **** **** 6543</p>
                            </div>
                            <div class="col">
                              <p class="text">Titular</p>
                            </div>
                            <div class="col">
                              <p class="text">Vencimiento</p>
                            </div>
                          </div>
                          CARD METODO DE PAGO INPUT 
                          <div class="row card-metodoPago d-flex align-items-center">
                            <div class="col-sm-1">
                              <input class="form-check-input" type="checkbox" value="" />
                            </div>
                           --  <div class="col">
                              <img src="src/assets/Mastercard-Logo.wine.png" class="img-fluid" alt=""  />
                            </div> 
                            <div class="col">
                              <p class="text">**** **** **** 6543</p>
                            </div>
                            <div class="col">
                              <p class="text">Titular</p>
                            </div>
                            <div class="col">
                              <p class="text">Vencimiento</p>
                            </div>
                          </div>
                           CONTENEDOR PARA FORMULARIO PARA AÑADIR METODO DE PAGO 
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                 Añadir Método de Pago
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                 FORMULARIO PARA AÑADIR METODO DE PAGO 
                                <div class="accordion-body">
                                  <form action="">
                                     FILA PARA AÑADIR NUMERO DE TARJETA Y FECHA DE VENCIMIENTO 
                                    <div class="row">
                                      <div class="col">
                                        <div class="mb-4">
                                          <label class="form-label" for="">Numero de Tarjeta</label>
                                          <input
                                            type="number"
                                            class="form-control"
                                            placeholder="**** **** *** ****"
                                          />
                                          <label for="" class="form-text">
                                            Esto es un texto de ayuda
                                          </label>
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="mb-4">
                                          <label class="form-label" for="">Fecha de Vencimiento</label>
                                          <input
                                            type="date"
                                            class="form-control"
                                            placeholder="00/00"
                                          />
                                          <label for="" class="form-text">
                                            Esto es un texto de ayuda
                                          </label>
                                        </div>
                                      </div>
                                       FILA PARA AÑADIR CVV Y BOTÓN DE AÑADIR 
                                      <div class="row">
                                        <div class="col">
                                          <div class="mb-4">
                                            <label class="form-label" for="">CVV</label>
                                            <input
                                              type="time"
                                              class="form-control"
                                              placeholder="***"
                                            />
                                            <label for="" class="form-text">
                                              Esto es un texto de ayuda
                                            </label>
                                          </div>
                                        </div>
                                        <div class="col text-end">
                                          <div class="my-5">
                                            <button class="button btn primario">Añadir Metodo</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="button btn primario" >Finalizar</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- BOTON PARA LLAMAR AL PRIMER MODAL PARA INGRESAR DATOS DEL CLIENTE -->
            <a class="button btn primario" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Continuar</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-10 mx-auto col-lg-5 text-center">
      <div class="mx-2 ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14972583.892337274!2d-102.540613!3d23.625269000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1658658489631!5m2!1ses-419!2smx" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
<!-- CONTENEODR QUE CONTIENE EL MODAL PARA EL SEGUNDO PASO DE AGENDAR CITA -->
    <app-modal-add-usuario></app-modal-add-usuario>
  




<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

   <!--  <div class="col-sm-6">
      <div class="info-form">
        <h2 class="titulo2">Agenda tu cita</h2>
        <p class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, veniam
          illo quaerat vitae iste corrupti.
        </p>
        <div class="detalles-ubicacion">
          <h5 class="titulo5">Dirección del Negocio</h5>
          <h5 class="titulo5">Telefono del Negocio</h5>
        </div>
        <form action="" class="selec-fecha">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-elements">
                  <label class="label-input" for=""
                    >Selecciona la fecha para tu cita</label
                  >
                  <input
                    type="date"
                    class="input-form"
                    placeholder="Ingresa tu correo electronico"
                  />
                  <label for="" class="help-input"
                    >Esto es un texto de ayuda</label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-elements">
                  <label class="label-input" for=""
                    >Selecciona la hora para tu cita</label
                  >
                  <input
                    type="time"
                    class="input-form"
                    placeholder="Ingresa tu correo electronico"
                  />
                  <label for="" class="help-input"
                    >Esto es un texto de ayuda</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-md-end">
                <button
                  type="button"
                  class="button btn1"
                  data-bs-toggle="modal"
                  href="#exampleModalToggle"
                  role="button"
                >
                  Continuar
                </button>
                <div
                  class="modal fade"
                  id="exampleModalToggle"
                  tabindex="-1"
                  aria-labelledby="exampleModaTogglelLabel"
                  L
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="titulo5" id="exampleModalLabel">
                          Ingresa tus datos
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form action="">
                          <div class="container">
                            <div class="row">
                              <div class="col-6">
                                <div class="form-elements">
                                  <label class="label-input" for=""
                                    >Ingresa tu nombre</label
                                  >
                                  <input
                                    type="text"
                                    class="input-form"
                                    placeholder="Nombre Completo"
                                  />
                                  <label for="" class="help-input"
                                    >Esto es un texto de ayuda</label
                                  >
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-elements">
                                  <label class="label-input" for=""
                                    >Ingresa tu Apellido</label
                                  >
                                  <input
                                    type="text"
                                    class="input-form"
                                    placeholder="Apellido"
                                  />
                                  <label for="" class="help-input"
                                    >Esto es un texto de ayuda</label
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-elements">
                                <label class="label-input" for=""
                                  >Ingresa tu correo electronico</label
                                >
                                <input
                                  type="email"
                                  class="input-form"
                                  placeholder="Ingresa tu correo electronico"
                                />
                                <label for="" class="help-input"
                                  >Esto es un texto de ayuda</label
                                >
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <div class="form-elements">
                                  <label class="label-input" for=""
                                    >Ingresa tu Número Teléfonico</label
                                  >
                                  <input
                                    type="number"
                                    class="input-form"
                                    placeholder="000-000-00000"
                                  />
                                  <label for="" class="help-input"
                                    >Esto es un texto de ayuda</label
                                  >
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-elements">
                                  <label class="label-input" for=""
                                    >Selecciona el servicio</label
                                  >
                                  <select
                                    class="label-select"
                                    placeholder="Default select example"
                                  >
                                    <option>Selecciona el Servicio</option>
                                    <option value="1">Servicio 1</option>
                                    <option value="2">Servicio 2</option>
                                    <option value="3">Servicio 3</option>
                                  </select>
                                  <label for="" class="help-input"
                                    >Esto es un texto de ayuda</label
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="button btn3"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          type="button"
                          class="button btn1"
                          data-bs-target="#exampleModalToggle2"
                          data-bs-toggle="modal"
                        >
                          Continuar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="modal fade"
                  id="exampleModalToggle2"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel2"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="titulo5" id="exampleModalToggleLabel2">
                          Seleccionar Método de Pago
                        </h5>
                        <button
                          type="button"
                          class="btn- close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body text-center">
                        <div class="container-fluid">
                          <div class="row card-metodoPago d-flex align-items-center">
                            <div class="col-sm-1">
                              <input class="form-check-input" type="checkbox" value="" />
                            </div>
                            <div class="col">
                              <img src="resources/Mastercard-Logo.wine.png" class="img-fluid img-metodoPago" alt=""  />
                            </div>
                            <div class="col">
                              <p class="text">**** **** **** 6543</p>
                            </div>
                            <div class="col">
                              <p class="text">Titular</p>
                            </div>
                            <div class="col">
                              <p class="text">Vencimiento</p>
                            </div>
                          </div>
                          <div
                            class="row card-metodoPago d-flex align-items-center"
                          >
                            <div class="col-sm-1">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                              />
                            </div>
                            <div class="col">
                              <img
                                src="resources/paypal-logo-C83095A82C-seeklogo.com.png"
                                class="img-fluid img-metodoPago"
                                alt=" "
                              />
                            </div>
                            <div class="col">
                              <p class="text">**** **** **** 6543</p>
                            </div>
                            <div class="col">
                              <p class="text">Titular</p>
                            </div>
                            <div class="col">
                              <p class="text">Vencimiento</p>
                            </div>
                          </div>
                          <div class="row card-metodoPago d-flex align-items-center">
                            <div class="col">
                              <div  class="accordion accordion-flush" id="accordionFlushExample"   <div class="accordion-item">
                                  <h2   class="accordion-header" id="flush-headingOne" >
                                    <button class="accordion-button collapsed text-center"type="button"  data-bs-toggle="collapse"  data-bs-target="#flush-collapseOne"
                                      aria-expanded="false"
                                      aria-controls="flush-collapseOne"
                                    >
                                      <h5 class="titulo5">
                                        Añadir Método de Pago
                                      </h5>
                                    </button>
                                  </h2>
                                  <div
                                    id="flush-collapseOne"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne"
                                    data-bs-parent="#accordionFlushExample"
                                  >
                                    <form action="">
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-4">
                                            <div class="form-elements">
                                              <label class="label-input" for=""
                                                >Numero de Tarjeta</label
                                              >
                                              <input
                                                type="text"
                                                class="input-form"
                                                placeholder="**** **** **** *****"
                                              />
                                              <label for="" class="help-input"
                                                >Esto es un texto de
                                                ayuda</label
                                              >
                                            </div>
                                          </div>
                                          <div class="col-4">
                                            <div class="form-elements">
                                              <label class="label-input" for=""
                                                >CVV</label
                                              >
                                              <input
                                                type="number"
                                                class="input-form"
                                                placeholder="CVV"
                                              />
                                              <label for="" class="help-input"
                                                >Esto es un texto de
                                                ayuda</label
                                              >
                                            </div>
                                          </div>
                                          <div class="col-4">
                                            <div class="form-elements">
                                              <label class="label-input" for=""
                                                >Vencimiento</label
                                              >
                                              <input
                                                type="date"
                                                class="input-form"
                                                placeholder="Fecha de Vencimiento"
                                              />
                                              <label for="" class="help-input"
                                                >Esto es un texto de
                                                ayuda</label
                                              >
                                            </div>
                                          </div> -->