<!-- Contenedor de 2 columnas de encabezado -->
<div class="container">
    <div class="row pb-0 pe-lg-0 align-items-center">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead toph1">Lorem ipsum dolor sit amet.</p>
            <h1 class="display-1 fw-bold lh-1 styleheader">EstyleGG</h1>
            <p class="h6 lh-4 py-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rem, nihil cupiditate eos sapiente eum iusto. Aliquid facere optio similique.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" [routerLink]="['/agendar-cita']" class="btn button primario px-4 me-md-2">
        Agendar Cita
      </button>
                <button type="button" class="btn button secondary px-4">
        Más Información
      </button>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 overflow-hidden">
            <img class="rounded-lg-3" src="https://images.pexels.com/photos/3065171/pexels-photo-3065171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" width="720" />
        </div>
    </div>
</div>