<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col m-4 px-4">
        <div class="card-background mx-auto">
            <div class="card service py-5 text-center border-0">
                <h5 class="service title display-5 pt-5">Nombre Servicio</h5>
                <p class="service descripcion pb-2">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
</div>