<!-- CONTENEDOR DEL FORMULARIO DE REGISTROs -->
<div class="container login text-center my-3">
    
    <div class="row pb-0 pe-lg-0 align-items-center mx-auto">
        <div class="col-lg-7">
            <div class="container py-2">
                <div class="form-login mx-4 px-5 m-auto">
                    <div class="head-form text-start">
                        <h2 class="lead h2">Registrate</h2>
                        <p class="lead sub-text">Es un gusto tenerte de vuelta</p>
                    </div>
                    <form [formGroup]="userForm" (ngSubmit)="PostUsuario()" class="form-login text-start">
                        <div class="row gy-2 gx-3 align-items-center">
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <label class="form-label" for="">Nombre(s)</label>
                                    <input formControlName="nombre" type="text" class="form-control" placeholder="Ingresa tu Nombre" />
                                    <label for="" class="form-text"> Esto es un texto de ayuda  </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <label class="form-label" for="">Apellidos</label>
                                    <input formControlName="apellido" type="text" class="form-control" placeholder="Ingresa tus apellidos" />
                                    <label for="" class="form-text"> Esto es un texto de ayuda   </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-2 gx-3 align-items-center">
                            <div class="col">
                                <div class="mb-4">
                                    <label class="form-label" for=""> Correo Electronico</label>
                                    <input formControlName="correo" type="email" class="form-control" placeholder="Ingresa tu correo electronico" />
                                    <label for="" class="form-text">Esto es un texto de ayuda  </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-2 gx-3 align-items-center">
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <label class="form-label" for="">Contraseña</label>
                                    <input formControlName="password" type="password" class="form-control" placeholder="Ingresa tu contraseña" />
                                    <label for="" class="form-text">  Esto es un texto de ayuda  </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <label class="form-label" for="">   Verifica Contraseña   </label>
                                    <input type="password" class="form-control" placeholder="Verifica Contraseña" />
                                    <label for="" class="form-text"> Esto es un texto de ayuda </label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" />
                                    <label class="form-label" for="gridCheck">  Recordar mis Datos  </label>
                                </div>
                            </div>
                            <div class="col text-end">
                                <a type="button" href="" class="btn button form-link">  ¿Olvidaste la contraseña? </a>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                           
                            <button type="submit" class="btn button primario" [routerLink]="['/perfil-registrado']">   Registrarme  </button>
                            <p class="small text-center text-black-50 mb-1">
                                ¿Ya tienes una cuenta?...
                            </p>
                            <button type="button" [routerLink]="['/formulario-iniciar-sesion']" class="btn button secondary mb-1">Iniciar Sesión  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col p-0 m-0 overflow-hidden">
            <div class="">
                <img height="650" width="1050" class="card-background" src="https://images.pexels.com/photos/355063/pexels-photo-355063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
            </div>
        </div>
    </div>
</div>