<app-navbar-usuario-normal></app-navbar-usuario-normal>

<!-- CONTENEDOR CARD FORMULARIO AGENDAR CITA / MAPA -->
<div class="container login col-xl-10 col-xxl-8 py-4 my-5 ">
    <div class="row align-items-center g-lg-5 py-5 align-items-center">
        <!-- COLUMNA FORM SELECCIONAR FECHA -->
        <div class="col-lg-7 text-center text-lg-start">
            <h2 class="lead h2">Agenda tu Cita</h2>
            <p class="lead text_servicios">Rellena el formulario correctamente para agendar tu cita.</p>

            <div class="col-lg-10 mx-2">
                <!-- MAQUETACIÓN DE FORMULARIO PARA SELECCIONAR LA FECHA Y HORA DE LA CITA-->
                <form >
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="mb-4">
                                <label class="form-label" for="">Seleccionar la fecha para tu cita</label>
                                <input type="date" class="form-control" placeholder="Seleccionar Fecha" />

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-4">
                                <label class="form-label" for="">Selecciona la hora para tu cita</label>
                                <input type="time" class="form-control" placeholder="" />

                            </div>
                        </div>
                    </div>
                    <div class="text-end my-4">
                        <!-- MODAL DE INGRESAR DATOS PARA AGENDAR LA CITA -->
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="lead title-card" id="exampleModalToggleLabel">INGRESA TUS DATOS</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-lg-start">
                                        <!-- FORMULARIO SEGUNDO PASO DE INGRESAR DATOS DEL USUARIO PARA AGENDAR CITA -->
                                        <form action="" class="container">
                                            <!-- FILA PARA INGRESAR NOMBRE Y APELLIDO DEL USUARIO -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="">Ingresa tu Nombre(s)</label>
                                                        <input type="text" class="form-control" placeholder="Nombre(s)" />
                                                        <label for="" class="form-text">
                              Esto es un texto de ayuda
                            </label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="">Ingresa tus apellidos</label>
                                                        <input type="text" class="form-control" placeholder="Apellidos" />
                                                        <label for="" class="form-text">
                              Esto es un texto de ayuda
                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- FILA PARA INGRESAR NUMERO TELEFONICO Y SELECCIONAR SERVICIO A SOLICITAR -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="">Ingresa tu número teléfonico</label>
                                                        <input type="number" class="form-control" placeholder="00 000 000 0000" />
                                                        <label for="" class="form-text">
                              Esto es un texto de ayuda
                            </label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="">Selecciona el servicio</label>
                                                        <select class="form-control label-select" placeholder="Default select example">
                                    <option>Selecciona el Servicio</option>
                                    <option value="1">Servicio 1</option>
                                    <option value="2">Servicio 2</option>
                                    <option value="3">Servicio 3</option>
                                  </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- FOOTER DEL MODAL BOTONES DE CANCELAR Y AGENDAR CITA -->
                                    <div class="modal-footer">
                                        <button type="button" class="button btn secondary" data-bs-dismiss="modal">Regresar</button>
                                        <a type="button" class="button btn primario" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Agendar Cita</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BOTON PARA LLAMAR AL PRIMER MODAL PARA INGRESAR DATOS DEL CLIENTE -->
                        <a class="button btn primario" role="button">Continuar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>