<app-navbar-usuario-normal></app-navbar-usuario-normal>
<div class="container">
    <a [routerLink]="['/formulario']" class="btn btn-warning" style="border-radius: 10%;">Agregar un nuevo Estilista</a>

    <div class="row text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div style="font-weight: bolder; font-size: 25px;"><br> Lista de Estilistas que Contamos para que uses sus servicios</div>
            <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ea pariatur distinctio rem? Illum consequuntur nihil a corrupti sint animi itaque maiores ad omnis, cum voluptatum aliquid consectetur error alias? <br><br>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-4">
            <div *ngFor="">

                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://blog.agendapro.com/hubfs/cursos%20estilista%20redes.png" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"><a>{{estilista.nombre}}fffffffffffffffff</a></h5>
                        <ul class="list-unstyled list-inline mb-0">
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"> </i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted">4.5 (413)</p>
                            </li>
                        </ul>
                        <p class="mb-2">$ • American, Restaurant</p>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <hr class="my-4" />
                        <button type="button" class="btn btn-primary" (click)="detalles(estilista.id)">Ver Informacion</button>
                        <button type="button" class="btn  btn-danger" (click)="eliminar(estilista.id)">Eliminar</button>
                        <button type="button" class="btn  btn-warning" (click)="editar(estilista.id)">Editar</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>