<!-- ////////////////////////// EMPIEZA SECCION ENCABEZADO ////////////////////////// -->
<app-navbar-usuario-normal></app-navbar-usuario-normal>

<!-- ENCABEZADO INICIO -->
<div class="container-fluid header_home pt-5   ">
    <div class=" my-5 text-center ">
       <div class="text-center align-items-center    p-lg-5 mx-auto ">
        <h4 class="text_header">ES UN GUSTO DARTE LA BIENVENIDA A</h4>
                <h1 class="display-1  titulo_header">EstyleGG</h1>
                
       </div>
    </div>
</div>

    <!-- Contenedor de 2 columnas de encabezado -->
<!--   <div class=" header_home  align-items-center justify-content-center">
            <div class="col-lg-7">
                <p class="lead toph1">Lorem ipsum dolor sit amet.</p>
                <h1 class="display-1 fw-bold lh-1 styleheader">EstyleGG</h1>
                <p class="h6 lh-4 py-4">
                    Para poder Agendar una cita, solicitar un servicio con un estilista, o Agendar cita con un estilista, necesario Iniciar Sesuión
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <button type="button" [routerLink]="['/formulario-iniciar-sesion']" class="btn button primario px-4 me-md-2">
            Agendar Cita
          </button>
                    <button type="button" class="btn button secondary px-4">
            Más Información
          </button>
                </div>
            </div>
          
        
        </div> -->
      

<!-- ////////////////////////// EMPIEZA SECCION SERVICIOS ////////////////////////// -->
<section class="text-center container-fluid pt-5">
   <div class="container">
    <div class="row pt-lg-4">
        <div class="col mx-5">
            <p class="lead top-title">Servicios</p>
            <h2 class="display-5 ">NUESTROS SERVICIOS</h2>
            <p class="text-end">
                <!-- Link Ver Más Servicios -->
               
            </p>
        </div>
    </div>
   </div>
    <div class="container-fluid my-5 w-100 bg-light">
       <div class="row align-items-center">
        <div class="col-lg-6 img-service">
            <img src="https://images.pexels.com/photos/1453005/pexels-photo-1453005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class=" img-fluid">
        </div>
        <div class="col-lg-6 text-start p-4 info-service">
            <p class="lead top-title">Tipo de Servicio</p>
            <h2 class="h2 display-5">Nombre Servicio.</h2>
            <p class="card-text"> Descripcion:  </p>
            <button type="button" class="btn button secondary" >Más Información</button>
        </div>
       </div>
    </div>
    <button [routerLink]="['/catalogo-servicios']" class="btn button link">Conocer Más</button>
</section>
<!-- CONTENEDOR PARA SERVICIOS -->




<!-- INICIO SECCIÓN PARA LOS ESTILISTAS -->
<section class="text-center container pt-5">
    <div class="row pt-lg-4">
        <div class="col mx-5">
            <p class="lead top-title">ESTILISTAS</p>
            <h2 class="display-5 ">NUESTROS EQUIPO</h2>
            <p class="text-end">
                <!-- Link Ver Más Servicios -->
                <a [routerLink]="['/estilistas']" class="btn button link">Conocer Más</a>
            </p>
        </div>
    </div>
    <div class="container p-4">
        <div class="row text-center">
            <div class="col-lg-4" *ngFor="let estilista of estilistas" >
              <div class="card text-center">
                <img src="{{estilista.nombre}}" alt="" class="img-fluid " width="100%" height="50" >
      
              <h2 class="fw-normal"> {{estilista.nombre}} </h2>
              <p class="mb-2">{{estilista.especialidad}}</p>
              <button type="button"  class="btn button secondary" >VER MÁS</button>
              </div>
            </div>
            
              
           
          </div>
    </div>
</section>

<!-- INICIO SECCIÓN PARA LOS PRODUCTOS -->
<section class="text-center container pt-5">
    <div class="row pt-lg-4">
        <div class="col mx-5">
            <p class="lead top-title">PRODUCTOS</p>
            <h2 class="display-5 ">MEJORES PRODUCTOS</h2>
            <p class="text-end">
                <!-- Link Ver Más Servicios -->
                <a [routerLink]="['/estilistas']" class="btn button link">Conocer Más</a>
            </p>
        </div>
    </div>
    <!-- INICIO SECCIÓN DE PRODUCTOS CARD -->
    <div class="container p-4">
        <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col " *ngFor="let producto of productos">
                  <div class="card ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        
                    <div class="card-body m-2 text-start">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p class="text_stockProducto">Stock: {{producto.stock}}</p>
                            </div>
                            <p class="text_stockProducto">$ {{producto.precio}}</p>
                          </div>
                      <p class="text_nameProducto">{{producto.nombre}}</p>
                      <p class="card-text">{{producto.descripcion}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                          <button type="button" class="btn button secondary">Más Detalles</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
    </div>
</section>





