<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a [routerLink]="['/inicio']" class="nav-link px-2 text-footer">Inicio</a></li>
        <li class="nav-item"><a [routerLink]="['/catalogo-servicios']" class="nav-link px-2 text-footer">Servicios</a></li>
        <li class="nav-item"><a [routerLink]="['/catalogo-productos']" class="nav-link px-2 text-footer">Productos</a></li>
        <li class="nav-item"><a [routerLink]="['/estilistas']" class="nav-link px-2 text-footer">Estilistas</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Estetica GG</p>
    </footer>
  </div>