<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 px-4 bg-dark" >
    <a [routerLink]="['/inicio']" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    StyleGG
  </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a [routerLink]="['/inicio']" class="nav-link px-2 button link">Inicio</a>
        </li>
        <li>
            <a [routerLink]="['/catalogo-servicios']" class="nav-link px-2 button link">
        Servicios
      </a>
        </li>
        <li>
            <a [routerLink]="['/catalogo-productos']" class="nav-link px-2 button link">
        Producto
      </a>
        </li>
        <li>
            <a [routerLink]="['/estilistas']" class="nav-link px-2 button link">Estilistas</a>
        </li>
    </ul>

    <div class="col-md-3 text-end">
        <button [routerLink]="['/registro-usuario']" type="button" class="btn button secondary">Registarme</button>
        <!-- El botoon de Salir solo se mostrara si hay un usuario con sesión iniciada -->
       <!--  <button [routerLink]="['/formulario-iniciar-sesion']" type="button" class="btn button btn-danger">Salir</button> -->
    </div>
</header>

<!-- <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo-estetica" href="#">StyleG</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link btn-nav"
            aria-current="page"
            [routerLink]="['/inicio']"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link btn-nav" [routerLink]="['/catalogo-servicios']"
            >Servicios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link btn-nav" [routerLink]="['/catalogo-productos']"
            >Productos</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <a class="button btn1" [routerLink]="['/agendar-cita']">Agendar Cita</a>
      </form>
    </div>
  </div>
</nav>
 -->