<div class="container-fluid nav_detalle py-4 ">
    <div class="container justify-content-center">
     <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a [routerLink]="['/estilistas-admin']">Regresar ></a></li>
         <li class="breadcrumb-item active" aria-current="page">Formulario</li>
       </ol>
     </nav>
    </div>
 </div>
<div class="container-fluid my-5 w-100 bg-light">
    <div class="row align-items-center">
     <div class="col-lg-6 img-service">
         <img src="https://images.pexels.com/photos/1453005/pexels-photo-1453005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class=" img-fluid">
     </div>
     <div class="col-lg-6 text-start p-4 info-service">
         <p class="lead top-title">Agregar Nuevo Estilista</p>
         <div class="container">
            <form (ngSubmit)="save(form)" #form="ngForm" autocomplete="off">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="estilista.nombre" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            <input type="text" name="apellido" [(ngModel)]="estilista.apellido" placeholder="Apellido" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Edad</label>
                            <input type="text" name="edad" [(ngModel)]="estilista.edad" placeholder="Edad" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Especialidad</label>
                            <input type="text" name="especialidad" [(ngModel)]="estilista.especialidad" placeholder="especialidad" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">direccion</label>
                            <input type="text" name="direccion" [(ngModel)]="estilista.direccion" placeholder="direccion" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">telefono</label>
                            <input type="text" name="telefono" [(ngModel)]="estilista.telefono" placeholder="telefono" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" placeholder="correo" class="form-control" name="correo" [(ngModel)]="estilista.correo">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">foto</label>
                            <input type="text" placeholder="foto" class="form-control" name="foto" [(ngModel)]="estilista.foto">
                        </div>
                    </div>
                    
                </div>
               
                <div>
                    <button [hidden]="id" *ngIf="form.valid" type="submit" class="btn btn-primary ml-20">Guardar</button>
                    <button *ngIf="id" type="submit" class="btn btn-primary ml-20">Actualizar</button>
                </div>
            </form>
         </div>
     </div>
    </div>
 </div>
<!-- <div class="container">

    <div class="row ">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 mt-5">
            <h3 class="text-center">Agregar un Nuevo Estilista</h3>
            <form (ngSubmit)="save(form)" #form="ngForm" autocomplete="off">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="estilista.nombre" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" name="apellido" [(ngModel)]="estilista.apellido" placeholder="Apellido" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Edad</label>
                    <input type="text" name="edad" [(ngModel)]="estilista.edad" placeholder="Edad" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Especialidad</label>
                    <input type="text" name="especialidad" [(ngModel)]="estilista.especialidad" placeholder="especialidad" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">direccion</label>
                    <input type="text" name="direccion" [(ngModel)]="estilista.direccion" placeholder="direccion" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">telefono</label>
                    <input type="text" name="telefono" [(ngModel)]="estilista.telefono" placeholder="telefono" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" placeholder="correo" class="form-control" name="correo" [(ngModel)]="estilista.correo">
                </div>
                <div class="mb-3">
                    <label class="form-label">foto</label>
                    <input type="text" placeholder="foto" class="form-control" name="foto" [(ngModel)]="estilista.foto">
                </div>
             

                <div>
                    <button [hidden]="id" *ngIf="form.valid" type="submit" class="btn btn-primary ml-20">Guardar</button>
                    <button *ngIf="id" type="submit" class="btn btn-primary ml-20">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div> -->