<app-navbar-usuario-normal></app-navbar-usuario-normal>

<!-- NAVEGACIÓN PARA REGRESAR A LA PÁGINA ANTERIOR -->
<div class="container-fluid nav_detalle py-4 ">
   <div class="container justify-content-center">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/catalogo-servicios']">Servicios ></a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalles de {{servicio.nombre}} </li>
      </ol>
    </nav>
   </div>
</div>


<!-- INICIO DE CONTENEDOR PARA INFORMACION DETALLADA DEL SERVICIO -->
<div class="container-fluid my-5 w-100 ">
  <div class="row align-items-center">
   
   <div class="col-lg-6 text-end p-4 info-service">
       <p class="lead top-title">{{servicio.tipo}}</p>
       <p class="lead top-title">Precio: ${{servicio.costo}}</p>
       <h2 class="h2 display-5">{{servicio.nombre}}</h2>
       <p class="card-text"> {{servicio.descripcion}}  </p>
       <button type="button" class="btn button secondary" [routerLink]="['/formulario-iniciar-sesion']">Solicitar Servicio</button>
   </div>
   <div class="col-lg-6 img-service">
    <img src="https://images.pexels.com/photos/1453005/pexels-photo-1453005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class=" img-fluid">
</div>
  </div>
</div>


<!-- <div class="container  mx-auto align-items-center">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://images.pexels.com/photos/10318038/pexels-photo-10318038.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{servicio.nombre}}</h5>
              <p class="card-text">{{servicio.descripcion}}</p>
              <p class="card-text"><small class="text-muted">Tipo: {{servicio.tipo}}</small></p>
              <p class="card-text"><small class="text-muted">Precio $: {{servicio.costo}}</small></p>
              <button type="button" [routerLink]="['/formulario-iniciar-sesion']" class="btn button primario px-4 me-md-2">Solicitar Servicio</button>
            </div>
          </div>
        </div>
      </div>
</div> -->

<!-- <div class="container">
    <div class="row text-center">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div style="font-weight: bolder; font-size: 25px;"><br> Informacion del servicio</div>
            <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ea pariatur distinctio rem? Illum consequuntur nihil a corrupti sint animi itaque maiores ad omnis, cum voluptatum aliquid consectetur error alias? <br><br>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="jumbotron">
                <div class="row ">
                    <div class="col-lg-3">
                         <img src="{{producto.foto}}" alt="" style="height: 280px; width: 200px; ">
                    </div>
                    <div class="col-lg-9">

                        <hr>
                        <p style="color: rgb(0, 185, 0) ; font-weight: bolder;">{{servicio.nombre}}</p>
                        <h3>Descripcion del producto</h3>
                        <p>{{servicio.descripcion}}</p>
                        <h4>Precio $: {{servicio.costo}}</h4>
                        <h4>Tipo: {{servicio.tipo}}</h4>
                        <a st class="btn btn-warning " href="catalogo-servicios" role="button">Regresar</a>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>
 -->