<app-navbar-usuario-normal></app-navbar-usuario-normal>

<div class="container-fluid header_productos pt-5">
    <div class="container-fluid my-5  ">
        <div class=" align-items-center text-center p-lg-5 mx-auto">
            <h4 class="text_header">CONOCE TODOS NUESTROS PRODUCTOS A</h4>
                <h1 class="  titulo_header">PRODUCTOS</h1>
        </div>
     </div>
</div>
<!-- INICIO CONTENEDOR DE ENCABEZADO DE PRODUCTOS -->
<!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">CATÁLOGO DE PRODUCTOS</h1>
      <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div> -->
<!-- FIN DE ENCABEZADO DE PRODUCTOS -->

<!-- INICIO CONTENEDOR PARA LA PRESENTACIÓN DEL CATALOGO DE PRODUCTOS -->
<div class="container py-5">
    <div class="row pt-lg-4">
        <div class="col mx-5">
            <p class="lead top-title">PRODUCTOS</p>
            <h2 class="display-5 ">NUESTROS PRODUCTOS</h2>
            <p class="text-end">
                <!-- Link Ver Más Servicios -->
               
            </p>
        </div>
    </div>
   </div>
<section class="text-center container ">
   
    <!-- INICIO SECCIÓN DE PRODUCTOS CARD -->
    <div class="container">
        <div class="album  ">
            <div class="container ">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col " *ngFor="let producto of productos">
                  <div class="card bg-white">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        
                    <div class="card-body m-2 text-start">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p class="text_stockProducto">Stock: {{producto.stock}}</p>
                            </div>
                            <p class="text_stockProducto">$ {{producto.precio}}</p>
                          </div>
                      <p class="text_nameProducto">{{producto.nombre}}</p>
                      <p class="card-text">{{producto.descripcion}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                          <button type="button" class="btn button secondary" (click)="detalles(producto._id)">Más Detalles</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
    </div>
</section>



<!-- <div class="container py-5">
    <div class="row pt-lg-4">
        <div class="col mx-5">
            <p class="lead top-title">PRODUCTOS</p>
            <h2 class="display-5 ">NUESTROS PRODUCTOS</h2>
            <p class="text-end">
               
            </p>
        </div>
    </div>
   </div>

<div class="container">

    <div class="row text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h1>CATÁLOGO DE PRODUCTOS</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4" *ngFor="let producto of productos">

            <div class="card  mt-5">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{producto.foto}}" class="img-fluid" style="height: 340px; width: 414px; " /> 
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a>{{producto.nombre}} </a></h5>
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"> </i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted">Precio: ${{producto.precio}}</p>
                        </li>
                    </ul>
                    <p class="mb-2">Stock :{{producto.stock}}</p>
                    <p class="card-text">
                      Descripcion: {{producto.descripcion}}
                    </p>
                    <hr class="my-4" />
                    <button type="button" class="btn btn-primary" (click)="detalles(producto._id)">Ver Informacion</button>
                </div>
            </div>

        </div>
    </div>
</div> -->