<!-- INICIO BARRA NAVEGACIÓN DASHBOARD ADMINISTRADOR -->
<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" [routerLink]="['/dashboard-admin']" >DASHBOARD ADMINISTRADOR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dashboard Administrador</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" aria-current="page" [routerLink]="['/citas-pendientes']" >Citas</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/estilistas-admin']">Estilistas</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/produdctos-admin']">Productos</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/servicios-admin']">Servicios</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/usuarios-admin']">Usuarios</a>
            </li>
           
          </ul>
          <form class="d-flex justify-content-center mt-5" role="search">
            <button class="btn button  btn-danger" type="submit" [routerLink]="['/inicio']">CERRAR SESIÓN</button>
        </form>
        </div>
      </div>
    </div>
  </nav>
  <!-- FIN DE BARRA DE NAVEGACIÓN DE DASHBOARD ADMINISTRADOR -->

<div class="position-relative overflow-hidden  text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-normal">ESTILISTAS REGISTRADOS</h1>
          <p class="lead fw-normal"> Usted como administrador puede editar un estilista, eliminarlo de la lista o añadir un nuevo estilista en esta pagina</p>
          <a [routerLink]="['/formulario']" class="btn button primario" >Agregar un nuevo Estilista</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    
</div>

<div class="container">
    <div class="row ">
        <div class="col-sm-4 my-2" *ngFor="let estilista of estilistas">
            <div class="card mx-4 ">
                <div class="card-header bg-white">
                 <img src="{{estilista.foto}}" class="bd-placeholder-img" width="100%"   />
                </div>
                <div class="body my-3 text-center">
                    <strong class="d-inline-block mb-2 text-primary">{{estilista.telefono}} - {{estilista.correo}} </strong>
                    <h3 class="mb-0">{{estilista.nombre}} {{estilista.apellido}}</h3>
                    <div class="mb-1 text-muted">{{estilista.especialidad}}</div>
                    <div class="mb-1 text-muted">{{estilista.direccion}}</div>
                    <div class="mb-1 text-muted">{{estilista.edad}}</div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 mb-lg-3">
                      <button type="button" class="btn  btn-warning" (click)="editar(estilista._id)">Editar</button>
                      <button type="button" class="btn  btn-danger" (click)="eliminar(estilista._id)">Eliminar</button>
                </div>
            </div>
            <!-- <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block " >
              </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{estilista.telefono}} - {{estilista.correo}} </strong>
              <h3 class="mb-0">{{estilista.nombre}} {{estilista.apellido}}</h3>
              <div class="mb-1 text-muted">{{estilista.especialidad}}</div>
              <div class="mb-1 text-muted">{{estilista.direccion}}</div>
              <div class="mb-1 text-muted">{{estilista.edad}}</div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2 mb-lg-3">
                <button type="button" class="btn  btn-warning" (click)="editar(estilista._id)">Editar</button>
                <button type="button" class="btn  btn-danger" (click)="eliminar(estilista._id)">Eliminar</button>
            </div>
            </div>
            
          </div> -->
        </div>
       
      </div>
</div>

<!-- <div class="container">

    <div class="row text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div style="font-weight: bolder; font-size: 25px;"><br> Lista de Estilistas Registrados en la Plataforma</div>
            <br> Usted como administrador puede editar un estilista, eliminarlo de la lista o añadir un nuevo estilista en esta pagina <br><br>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4" *ngFor="let estilista of estilistas">

            <div class="card  mt-5">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{estilista.foto}}" class="img-fluid" style="height: 340px; width: 414px; " />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a>{{estilista.nombre}} {{estilista.apellido}}</a></h5>
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"> </i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item me-0">
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted">4.5 (413)</p>
                        </li>
                    </ul>
                    <p class="mb-2">$ • American, Restaurant</p>
                    <p class="card-text">
                        {{estilista.especialidad}}
                    </p>
                    <hr class="my-4" />
                    <button type="button" class="btn btn-primary" (click)="detalles(estilista._id)">Ver Informacion</button>
                    <button type="button" class="btn  btn-danger" (click)="eliminar(estilista._id)">Eliminar</button>
                    <button type="button" class="btn  btn-warning" (click)="editar(estilista._id)">Editar</button>

                </div>
            </div>

        </div>
    </div> -->