@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&family=Prata&display=swap");

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
:root {
  --color-black: #0d0b08;
  --color-white: #ffffff;
  --color-orange: #fd8900;
  --color-verde-confirm: #66cb9f;
  --color-amarillo-danger: #f7936f;
  --color-rojo-alert: #f16063;
  --color-orange-hover: #ffdece;
  --color-text: #425466;
  --color-titulos: #27272e;
  --background-color-imputs: #edf2f7;
  --color-help-input: #718096;
  --color-placeholder-dafault: #7a828a;
  --color-border-focus: #7895ff;
}
* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 1em;
}
body {
  background-color: #ffffff;
  min-height: 100vh;
  box-sizing: border-box;
}
/* ESTILOS DE BOTONES */
ul li {
  list-style:  none;
}
.btn.button {
  padding: 8px 18px;
  margin: 0 4px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.button.primario {
  color: var(--color-text);
  background-color: var(--color-orange);
  border: solid 1px var(--color-orange);
}
.button.primario:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
}
.button.secondary {
  color: var(--color-orange);
  border: solid 1px var(--color-orange);
}
.button.secondary:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.button.link {
  
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
  font-weight:600;
  color: var(--color-white);
}
.button.link:hover {
  border-bottom: 1px solid var(--color-orange);
  color: var(--color-orange);
  font-weight:700;
  letter-spacing: 2px
}
.button.form-link {
  border: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--color-text);
}
.button.form-link:hover {
  border: none;
  color: var(--color-orange);
}
/* ESTILOS DE TEXTOS */
.display-5 {
  font-weight: 300;
  letter-spacing :.075em;
  font-size: 3.4rem;
  line-height:1.29;
}
.lead.sub-text {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--color-text);
}
.lead.title-card {
  font-weight: 800;
  font-size: 1.2em;
}
.lead.top-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: .14em;
  font-weight: 500;
  color: var(--color-orange);
}
.card-text.text_servicios {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--color-text);
  text-align: justify;
}
.lead.text_precioService {
  font-weight: 800;
  color: var(--color-text);
}
.text_nameProducto{
  color: #222;
  letter-spacing:0.15em;
  font-weight: 400;
  font-size: 1.4rem;
  line-height:1.125;
  text-transform: uppercase
}

/* BADGE - PILLS DE DISPONIBILIDAD */
span.badge {
  font-size: 0.7em;
  text-transform: uppercase;
}
.badge.disponible {
  background-color: var(--color-verde-confirm);
  color: var(--color-white);
}
.badge.pendiente {
  background-color: var(--color-amarillo-danger);
  color: var(--color-white);
}
.badge.no_disponible {
  background-color: var(--color-rojo-alert);
  color: var(--color-white);
}
/*--------------------------ESTILOS FORMULARIOS---------------------------*/
/* LABELS DE LOS INPUTS */
.form-label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 17px;
  color: var(--color-titulos);
}
/* TEXTOS DE AYUDA DE INPUTS */
.form-text {
  color: var(--color-help-input);
}
/* ESTILOS DE LO INPUTS */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
.label-select {
  color: var(--color-placeholder-dafault);
  font-size: 0.825em;
  font-weight: 500;
  min-width: 14rem;
  padding: 12px 8px;
  border-radius: 4px;
  border: 1px solid var(--background-color-imputs);
  background-color: var(--background-color-imputs);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  outline: var(--color-border-focus);
  border: 1px solid var(--color-border-focus);
  box-shadow: 0px 0px 0px 2px rgba(76, 111, 255, 0.3);
}

/* ESTILOS ENCABEZADOS */
.header_home {
  width: 100%;
  min-height: 60vh;
  background-image: url("https://images.pexels.com/photos/897263/pexels-photo-897263.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_servicios {
  width: 100%;
  min-height: 50vh;
  background-image: url("https://images.pexels.com/photos/1319459/pexels-photo-1319459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_productos {
  width: 100%;
  min-height: 50vh;
  background-image: url("https://images.pexels.com/photos/3992861/pexels-photo-3992861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_estilistas {
  width: 100%;
  min-height: 50vh;
  background-image: url("https://images.pexels.com/photos/3992866/pexels-photo-3992866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.lead.toph1 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--color-orange);
}
.lead.h2 {
  color: var(--color-orange);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.3em;
}
.titulo_header {
  font-family: "Ibarra Real Nova", serif;
  text-transform:uppercase;
  font-size:5rem;
  font-weight:800;
  color: var(--color-orange);
}
.text_header{
  font: size 5rem;
  color: var(--color-white);
  line-height: 1.5;
}
.card.product:hover {
  box-shadow: rgba(248, 122, 25, 0.183) 0px 4px 16px,
    rgba(150, 56, 1, 0.05) 0px 8px 32px;
}
.card-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*   background-image: url("pexels-asad-photo-maldives-1654834.jpg");
 */
}
.card.service {
  color: black;
  background: #f7971e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f990109b,
    #0000006d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f990109b,
    #0000006d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.service.title {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 800;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 2em;
}
.service.descripcion {
  font-size: 1em;
  font-weight: 600;
  color: var(--color-orange);
}
.login {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 15px;
}
.col-md-6.img-login {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/1654834/pexels-photo-1654834.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
/* .cover-container.covercv {
  min-height: 100vh;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background: url("https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
 */
