<!-- INICIO BARRA NAVEGACIÓN DASHBOARD ADMINISTRADOR -->
<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" [routerLink]="['/dashboard-admin']" >DASHBOARD ADMINISTRADOR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dashboard Administrador</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" aria-current="page" [routerLink]="['/citas-pendientes']" >Citas</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/estilistas-admin']">Estilistas</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/produdctos-admin']">Productos</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/servicios-admin']">Servicios</a>
            </li>
            <li class="nav-item item_admin">
              <a class="nav-link link_admin" [routerLink]="['/usuarios-admin']">Usuarios</a>
            </li>
           
          </ul>
          <form class="d-flex justify-content-center mt-5" role="search">
            <button class="btn button  btn-danger" type="submit" [routerLink]="['/inicio']">CERRAR SESIÓN</button>
        </form>
        </div>
      </div>
    </div>
  </nav>
  <!-- FIN DE BARRA DE NAVEGACIÓN DE DASHBOARD ADMINISTRADOR -->

  <P>PRODUCTOS WORKS/P>