<app-navbar-usuario-normal></app-navbar-usuario-normal>
<div class="container login my-3">
    <div class="row mx-auto m-auto align-items-md-stretch">
        <div class="col-md-6 img-login">
            <div class="h-100"></div>
        </div>
        <div class="col-md-6 form-login-bg">
            <div class="h-100">
                <div class="container my-4">
                    <div class="form-login w-75 mx-auto">
                        <div class="head-form text-start">
                            <h2 class="lead h2">Iniciar Sesión</h2>
                            <p class="lead sub-text">Es un gusto tenerte de vuelta</p>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="submitLog()" class="form-login text-start my-2">
                            <div class="mb-4">
                                <label class="form-label">Correo Electronico</label>
                                <input name="correo" formControlName="correo" type="email" class="form-control" placeholder="Ingresa tu correo electronico" />
                                <label for="" class="form-text">
                    Esto es un texto de ayuda
                  </label>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Contraseña</label>
                                <input name="password" formControlName="password" type="password" class="form-control" placeholder="Ingresa tu contraseña" />
                                <label for="" class="form-text">
                    Esto es un texto de ayuda
                  </label>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" />
                                        <label class="form-label" for="gridCheck">
                        Recordar mis Datos
                      </label>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <a type="button" href="" class="btn button form-link">
                      ¿Olvidaste la contraseña?
                    </a>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                
                                <button type="submit" class="btn button primario mb-1" [routerLink]="['/agendar-cita']">
                    Iniciar Sesión
                  </button>
                                <p class="small text-center text-black-50 mb-1">
                                    ¿No tienes Cuenta?
                                </p>
                               
                               
                                <!-- BOTÓN PARA INICIAR SESIÓN COMO Usuario Registrado.
                  Nos dirige a las vistas del usuario Registrado -->
                                <button type="button" [routerLink]="['/registro-usuario']" class="btn button secondary">
                    Registrarme
                  </button>
                             
                  <a type="button" [routerLink]="['/perfil-registrado']" class="btn button form-link">
                    Iniciar Usuario Registrado
                  </a>
                  <a type="button" [routerLink]="['/dashboard-admin']" class="btn button form-link">
                    Iniciar Administrador
                  </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>